{subdirs, ["gaucho", "gaucho_test"]}.
{profiles, [
        {default, [
                {prepare, [clean, depends]},
                {perform, []}
            ]},
        {test, [
                {prepare, [depends]},
                {perform, []}
            ]}
    ]}.
{depends, [
  {dir, "./lib"},
  {repositories, [
    {"http://build.strikead.com:8081/repo", [
      {xl_stdlib, "1.0.0.0144"},
      {xl_io, "1.0.0.0144"},
      {erlandox, "1.0.0"},
      {ranch, "0.4.0.0001"},
      {cowboy, "0.6.1.0014"}
    ]}
  ]}
]}.
