
{define, version, {shell, "printf '0.2.0.%d' $BUILD_NUMBER"}}.
{profiles, [
        {default, [
                {subdirs, ["gaucho", "gaucho_test"]},
                {prepare, [clean, depends]},
                {perform, []}
            ]},
        {prod, [
                {subdirs, ["gaucho"]},
                {prepare, [clean, depends]},
                {perform, []}
            ]},
        {test, [
                {subdirs, ["gaucho", "gaucho_test"]},
                {prepare, [depends]},
                {perform, []}
            ]}
    ]}.
{depends, [
  {dir, "./lib"},
  {repositories, [
    {"http://erlang-build-tool.googlecode.com/files", [
      {erlandox, "1.0.5"},
      {ranch, "0.8.3"},
      {cowboy, "0.8.5"},
      {jiffy, "0.8.3"},
      {xl_json, "1.2.1.331"},
      {xl_stdlib, "1.2.1.331"},
      {xl_io, "1.2.1.331"}
  ]}]}
]}.
