{version, {shell, "echo -n `git describe --tags --abbrev=0`-${BUILD_NUMBER}"}}.
{targets, [
    {prepare, [clean, depends]},
    {perfrom, ['otp-app']}
]}.

{depends, [
  {dir, "./lib"},
  {repositories, [
    {"http://build.strikead.com:8081/repo", [
      {xl_stdlib, "1.0.0.0037"}
    ]}
  ]}
]}.
{libraries , ["./lib"]}.
