{version, {shell, "../version.sh"}}.


{compile, [
    {flags, [warnings_as_errors, debug_info]}
]}.
{libraries, ["../lib", "../out/production"]}.

{profiles, [
    {default, [
        {perform, [eunit, release]}
    ]}
]}.
{release, [
    {name, gaucho_test},
    {config, "reltool.config"},
    {resources, ["etc"]}
]}.
