{libraries, ["../lib", "../out/production"]}.
{tasks, [
        {modules, [
                {json_bindc, xl_json_ebt_bindc}
            ]},
        {targets, [
                {compile, [json_bindc]}
            ]}
    ]}.
{compile, [
        {flags, [debug_info]},
        {first, ["gaucho_converter.erl", "gaucho.erl", "gaucho_pt.erl"]},
        {resources, ["*.erl.t"]}
]}.
